@import url("https://fonts.googleapis.com/css2?family=Basic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  outline: none !important;
}

.form-field {
  @apply my-3 md:my-0;
}
.title {
  @apply font-Basic text-secondary text-2xl md:text-2xl tracking-tight md:py-2;
}
.button {
  @apply font-Basic tracking-tight rounded-full text-white bg-primary dark:shadow-md dark:shadow-neutral-900 hover:bg-secondary dark:bg-tertiary dark:hover:bg-neutral-600;
}

/* Masonry styles */
@layer utilities {
  @variants responsive {
    .masonry-1-col {
      column-count: 1;
      column-gap: 1em;
    }
    .masonry-2-col {
      column-count: 2;
      column-gap: 1em;
    }
    .masonry-3-col {
      column-count: 3;
      column-gap: 1em;
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}

/* Special event card glow */
@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.roland-garros-card {
  background: linear-gradient(270deg, #f55f19, #f1a534, #ed6323);
  background-size: 600% 600%;
  animation: shine 10s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.wimbledon-card {
  background: linear-gradient(270deg, #bd4eff, #bd4eff, #691396);
  background-size: 600% 600%;
  animation: shine 10s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
